In [1]:
#### Load multiple time series
# import all modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
matplotlib.use('agg')
import matplotlib.pyplot as plt
%matplotlib inline
fig1 = plt.figure(figsize=(2, 2), dpi=100)
%config InlineBackend.figure_format = 'retina'
import datetime
from matplotlib.dates import DateFormatter
from matplotlib.dates import HourLocator
# Import data
print("Reading in data...")
filepath1 = "C:/Users/fahmida/Desktop/Rental/airbnb/calendar/calendar_june_2015.csv.gz"
#df1= pd.read_csv(filepath1, header=0, index_col=None)
filepath2 = "C:/Users/fahmida/Desktop/Rental/airbnb/calendar/calendar_july_2016.csv.gz"
#df2= pd.read_csv(filepath2, header=0, index_col=None)
filepath3 = "C:/Users/fahmida/Desktop/Rental/airbnb/calendar/calendar_april_2017.csv.gz"
df3= pd.read_csv(filepath3, header=0, index_col=None)
filepath4 = "C:/Users/fahmida/Desktop/Rental/airbnb/calendar/calendar_april_2018.csv.gz"
df4= pd.read_csv(filepath4, header=0, index_col=None)
filepath5 = "C:/Users/fahmida/Desktop/Rental/airbnb/calendar/calendar_jan_2019.csv"
#df5= pd.read_csv(filepath5, header=0, index_col=None)
frames = [df4]
df = pd.concat(frames)
print(df.head(5))
# Check the type of each column in your DataFrame
print(df.dtypes)

Reading in data...
Reading in data...
   listing_id        date available price
0    24084526  2019-04-08         f   NaN
1    24084526  2019-04-07         f   NaN
2    24084526  2019-04-06         f   NaN
3    24084526  2019-04-05         f   NaN
4    24084526  2019-04-04         f   NaN
listing_id     int64
date          object
available     object
price         object
dtype: object
   listing_id        date available price
0    24084526  2019-04-08         f   NaN
1    24084526  2019-04-07         f   NaN
2    24084526  2019-04-06         f   NaN
3    24084526  2019-04-05         f   NaN
4    24084526  2019-04-04         f   NaN
listing_id     int64
date          object
available     object
price         object
dtype: object

In [ ]:
# Change Dates to consistent format
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
#df_all['timestamp_first_active'] = pd.to_datetime(df_all['timestamp_first_active'], format='%Y%m%d%H%M%S')
# filling Up Missing Values
df['price'] = (df['price'].str.replace(r'[^-+\d.]', '').astype(float))
df= df[df['price'] < 2000]
df.dropna()
df['date'].fillna(df.date, inplace=True)
df['Year'] = df.date.apply(lambda x: x.year)
df['Month'] = df.date.apply(lambda x: x.month)
df['Day'] = df.date.dt.weekday_name
df.head()

     listing_id       date available  price  Year  Month        Day
179    24084526 2018-10-05         t   42.0  2018     10     Friday
180    24084526 2018-10-04         t   42.0  2018     10   Thursday
181    24084526 2018-10-03         t   42.0  2018     10  Wednesday
182    24084526 2018-10-02         t   42.0  2018     10    Tuesday
183    24084526 2018-10-01         t   42.0  2018     10     Monday

     listing_id       date available  price  Year  Month        Day
179    24084526 2018-10-05         t   42.0  2018     10     Friday
180    24084526 2018-10-04         t   42.0  2018     10   Thursday
181    24084526 2018-10-03         t   42.0  2018     10  Wednesday
182    24084526 2018-10-02         t   42.0  2018     10    Tuesday
183    24084526 2018-10-01         t   42.0  2018     10     Monday

In [ ]:
df=df.set_index('date')
print(df)
y_airbnb = df['listing_id']
y_airbnb.plot(kind='bar',figsize=(15, 6))
plt.show()

            listing_id available  price  Year  Month        Day
date
2018-10-05    24084526         t   42.0  2018     10     Friday
2018-10-04    24084526         t   42.0  2018     10   Thursday
2018-10-03    24084526         t   42.0  2018     10  Wednesday
2018-10-02    24084526         t   42.0  2018     10    Tuesday
2018-10-01    24084526         t   42.0  2018     10     Monday
2018-09-30    24084526         t   42.0  2018      9     Sunday
2018-09-29    24084526         t   42.0  2018      9   Saturday
2018-09-28    24084526         t   42.0  2018      9     Friday
2018-09-27    24084526         t   42.0  2018      9   Thursday
2018-09-26    24084526         t   42.0  2018      9  Wednesday
2018-09-25    24084526         t   42.0  2018      9    Tuesday
2018-09-24    24084526         t   42.0  2018      9     Monday
2018-09-23    24084526         t   42.0  2018      9     Sunday
2018-09-22    24084526         t   42.0  2018      9   Saturday
2018-09-21    24084526         t   42.0  2018      9     Friday
2018-09-20    24084526         t   42.0  2018      9   Thursday
2018-09-19    24084526         t   42.0  2018      9  Wednesday
2018-09-18    24084526         t   42.0  2018      9    Tuesday
2018-09-17    24084526         t   42.0  2018      9     Monday
2018-09-16    24084526         t   42.0  2018      9     Sunday
2018-09-15    24084526         t   42.0  2018      9   Saturday
2018-09-14    24084526         t   42.0  2018      9     Friday
2018-09-13    24084526         t   42.0  2018      9   Thursday
2018-09-12    24084526         t   42.0  2018      9  Wednesday
2018-09-11    24084526         t   42.0  2018      9    Tuesday
2018-09-10    24084526         t   42.0  2018      9     Monday
2018-09-09    24084526         t   42.0  2018      9     Sunday
2018-09-08    24084526         t   42.0  2018      9   Saturday
2018-09-07    24084526         t   42.0  2018      9     Friday
2018-09-06    24084526         t   42.0  2018      9   Thursday
...                ...       ...    ...   ...    ...        ...
2019-01-30    10923251         t   53.0  2019      1  Wednesday
2019-01-29    10923251         t   53.0  2019      1    Tuesday
2019-01-28    10923251         t   53.0  2019      1     Monday
2019-01-27    10923251         t   53.0  2019      1     Sunday
2019-01-26    10923251         t   53.0  2019      1   Saturday
2019-01-25    10923251         t   53.0  2019      1     Friday
2019-01-24    10923251         t   53.0  2019      1   Thursday
2019-01-23    10923251         t   53.0  2019      1  Wednesday
2019-01-22    10923251         t   53.0  2019      1    Tuesday
2019-01-21    10923251         t   53.0  2019      1     Monday
2019-01-20    10923251         t   53.0  2019      1     Sunday
2019-01-19    10923251         t   53.0  2019      1   Saturday
2019-01-18    10923251         t   53.0  2019      1     Friday
2019-01-17    10923251         t   53.0  2019      1   Thursday
2019-01-16    10923251         t   53.0  2019      1  Wednesday
2019-01-15    10923251         t   53.0  2019      1    Tuesday
2019-01-14    10923251         t   53.0  2019      1     Monday
2019-01-13    10923251         t   53.0  2019      1     Sunday
2019-01-12    10923251         t   53.0  2019      1   Saturday
2019-01-11    10923251         t   53.0  2019      1     Friday
2019-01-10    10923251         t   53.0  2019      1   Thursday
2019-01-09    10923251         t   53.0  2019      1  Wednesday
2019-01-08    10923251         t   53.0  2019      1    Tuesday
2019-01-07    10923251         t   53.0  2019      1     Monday
2019-01-06    10923251         t   53.0  2019      1     Sunday
2019-01-05    10923251         t   53.0  2019      1   Saturday
2019-01-04    10923251         t   53.0  2019      1     Friday
2019-01-03    10923251         t   53.0  2019      1   Thursday
2019-01-02    10923251         t   53.0  2019      1  Wednesday
2019-01-01    10923251         t   53.0  2019      1    Tuesday

[2069083 rows x 6 columns]
            listing_id available  price  Year  Month        Day
date
2018-10-05    24084526         t   42.0  2018     10     Friday
2018-10-04    24084526         t   42.0  2018     10   Thursday
2018-10-03    24084526         t   42.0  2018     10  Wednesday
2018-10-02    24084526         t   42.0  2018     10    Tuesday
2018-10-01    24084526         t   42.0  2018     10     Monday
2018-09-30    24084526         t   42.0  2018      9     Sunday
2018-09-29    24084526         t   42.0  2018      9   Saturday
2018-09-28    24084526         t   42.0  2018      9     Friday
2018-09-27    24084526         t   42.0  2018      9   Thursday
2018-09-26    24084526         t   42.0  2018      9  Wednesday
2018-09-25    24084526         t   42.0  2018      9    Tuesday
2018-09-24    24084526         t   42.0  2018      9     Monday
2018-09-23    24084526         t   42.0  2018      9     Sunday
2018-09-22    24084526         t   42.0  2018      9   Saturday
2018-09-21    24084526         t   42.0  2018      9     Friday
2018-09-20    24084526         t   42.0  2018      9   Thursday
2018-09-19    24084526         t   42.0  2018      9  Wednesday
2018-09-18    24084526         t   42.0  2018      9    Tuesday
2018-09-17    24084526         t   42.0  2018      9     Monday
2018-09-16    24084526         t   42.0  2018      9     Sunday
2018-09-15    24084526         t   42.0  2018      9   Saturday
2018-09-14    24084526         t   42.0  2018      9     Friday
2018-09-13    24084526         t   42.0  2018      9   Thursday
2018-09-12    24084526         t   42.0  2018      9  Wednesday
2018-09-11    24084526         t   42.0  2018      9    Tuesday
2018-09-10    24084526         t   42.0  2018      9     Monday
2018-09-09    24084526         t   42.0  2018      9     Sunday
2018-09-08    24084526         t   42.0  2018      9   Saturday
2018-09-07    24084526         t   42.0  2018      9     Friday
2018-09-06    24084526         t   42.0  2018      9   Thursday
...                ...       ...    ...   ...    ...        ...
2019-01-30    10923251         t   53.0  2019      1  Wednesday
2019-01-29    10923251         t   53.0  2019      1    Tuesday
2019-01-28    10923251         t   53.0  2019      1     Monday
2019-01-27    10923251         t   53.0  2019      1     Sunday
2019-01-26    10923251         t   53.0  2019      1   Saturday
2019-01-25    10923251         t   53.0  2019      1     Friday
2019-01-24    10923251         t   53.0  2019      1   Thursday
2019-01-23    10923251         t   53.0  2019      1  Wednesday
2019-01-22    10923251         t   53.0  2019      1    Tuesday
2019-01-21    10923251         t   53.0  2019      1     Monday
2019-01-20    10923251         t   53.0  2019      1     Sunday
2019-01-19    10923251         t   53.0  2019      1   Saturday
2019-01-18    10923251         t   53.0  2019      1     Friday
2019-01-17    10923251         t   53.0  2019      1   Thursday
2019-01-16    10923251         t   53.0  2019      1  Wednesday
2019-01-15    10923251         t   53.0  2019      1    Tuesday
2019-01-14    10923251         t   53.0  2019      1     Monday
2019-01-13    10923251         t   53.0  2019      1     Sunday
2019-01-12    10923251         t   53.0  2019      1   Saturday
2019-01-11    10923251         t   53.0  2019      1     Friday
2019-01-10    10923251         t   53.0  2019      1   Thursday
2019-01-09    10923251         t   53.0  2019      1  Wednesday
2019-01-08    10923251         t   53.0  2019      1    Tuesday
2019-01-07    10923251         t   53.0  2019      1     Monday
2019-01-06    10923251         t   53.0  2019      1     Sunday
2019-01-05    10923251         t   53.0  2019      1   Saturday
2019-01-04    10923251         t   53.0  2019      1     Friday
2019-01-03    10923251         t   53.0  2019      1   Thursday
2019-01-02    10923251         t   53.0  2019      1  Wednesday
2019-01-01    10923251         t   53.0  2019      1    Tuesday

[2069083 rows x 6 columns]

In [ ]:
print(df.price)

In [ ]:
from sklearn.svm import LinearSVC
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import datetime
from matplotlib.dates import DateFormatter
from matplotlib.dates import HourLocator
matplotlib.use('agg')
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
from pandas import read_csv
from pandas import datetime
from matplotlib import pyplot
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error
y_airbnb = df['price']
y_airbnb.plot(figsize=(15, 6))
plt.show()

In [ ]:
import warnings
import itertools
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import pandas as pd
import statsmodels.api as sm
import matplotlib
from pylab import rcParams
mod = sm.tsa.statespace.SARIMAX(y_airbnb,
                                order=(1, 1, 1),
                                seasonal_order=(1, 1, 0, 12),
                                enforce_stationarity=False,
                                enforce_invertibility=False)
results = mod.fit()
print(results.summary().tables[1])

In [ ]:
results.plot_diagnostics(figsize=(16, 8))
plt.show()

In [ ]:
#Validating Forecast
pred = results.get_prediction(start='2019-06-01', dynamic=False)
pred_ci = pred.conf_int()
ax = y_airbnb['2019-06':].plot(label='observed')
pred.predicted_mean.plot(ax=ax, label='One-step ahead Forecast', alpha=.7, figsize=(14, 7))
ax.fill_between(pred_ci.index,
                pred_ci.iloc[:, 0],
                pred_ci.iloc[:, 1], color='k', alpha=.2)
ax.set_xlabel('Date')
ax.set_ylabel('AirBnB Price Per Night')
plt.legend()
plt.show()

In [ ]:
from pandas import Series
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
from matplotlib import pyplot
pyplot.figure()
pyplot.subplot(211)
plot_acf(df.price, ax=pyplot.gca())
pyplot.subplot(212)
plot_pacf(df.price, ax=pyplot.gca())
pyplot.show()